<div class="flex flex-col">
  <div>
    <app-shopping-list-edit></app-shopping-list-edit>
  </div>
  <hr>
  <ul class="flex flex-col mt-4">
    <a
      class="border p-4 mb-2 rounded cursor-pointer"
      *ngFor="let ingredient of ingredients$ | async"
      (click)="onEdit(ingredient.id)"
    >
      {{ ingredient.name }} ({{ ingredient.amount }})
    </a>
  </ul>
</div>
