<div class="p-8">
  <img
    src="{{ recipe.imagePath }}"
    alt="Picture will be here"
    class="rounded-3xl"
  >
</div>

<div class="flex flex-row mt-2 mb-2">
  <div class="flex-1">
    <h1 class="text-4xl">{{ recipe.name }}</h1>
  </div>
  <div class="relative inline-block text-left w-56">
    <div appDropdown>
      <button type="button"
        class="btn-dropdown-gray"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
        appDropdownToggle
      >
        Manage Recipe
        <svg class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div
        class="dropdown-hide-items"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
        appDropdownMenu
      >
        <div class="py-1"
          role="none">
          <a
            routerLink="/shopping-list"
            class="text-gray-700 block px-4 py-2 text-sm cursor-pointer"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
            (click)="onToShoppingList()"
          >
            To Shopping List
          </a>
          <a
            class="text-gray-700 block px-4 py-2 text-sm cursor-pointer"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1"
            (click)="onEdit()"
          >
            Edit Recipe
          </a>
          <a
            routerLink=""
            class="text-gray-700 block px-4 py-2 text-sm cursor-pointer"
            role="menuitem"
            tabindex="-1"
            id="menu-item-2"
            (click)="onDelete()"
          >
            Delete Recipe
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 mb-4">
  <div class="flex-1 border rounded-2xl p-8">
    {{ recipe.description }}
  </div>
</div>
<div class="flex flex-row">
  <div class="flex-1">
    <ul>
      <li class="border rounded-lg p-4 mb-2" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
