<div class="flex flex-row">
  <div class="flex-1">
    <button
      class="btn-green"
      [routerLink]="['new']"
    >
      New Recipe
    </button>
  </div>
</div>
<hr>
<div class="flex flex-col mt-4">
  <div class="flex-1 mb-3" *ngFor="let recipe of recipes$ | async">
    <app-recipe-item
      [recipe]="recipe"
    ></app-recipe-item>
  </div>
</div>
