<a
  class="recipe-entry"
  [routerLink]="['details', recipe.id]"
  routerLinkActive="bg-gray-900"
>
  <div class="flex-1">
    <h4 class="text-2xl border-b-2 mr-2 pb-2">{{ recipe.name }}</h4>
    <p class="text-xl mt-2">{{ recipe.description }}</p>
  </div>
  <span class="flex">
    <img [src]="recipe.imagePath"
      alt="Picture will be here"
      class="h-20 w-20"
    >
  </span>
</a>
