<div class="flex flex-col">
  <form [formGroup]="recipeEditForm">
    <div class="flex flex-1 flex-col">
      <h2 class="text-4xl mb-4">{{ editMode ? 'Edit' : 'Add' }} Recipe</h2>
      <div class="mb-6">
        <label for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Name
        </label>
        <input type="text"
          id="name"
          class="input-gray"
          placeholder="Name"
          formControlName="name"
        >
      </div>
      <div class="mb-6">
        <label for="desc"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Description
        </label>
        <textarea
          id="description"
          class="input-gray resize-none h-56"
          name="description"
          placeholder="Description"
          formControlName="description"
        >
      </textarea>
      </div>
      <div class="flex items-center">
        <div class="flex-initial w-4/5 mb-6 mr-4">
          <label for="amount"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Image
          </label>
          <input type="text"
            id="imagePath"
            class="input-gray"
            placeholder="Url"
            formControlName="imagePath"
            #imagePath
          >
        </div>
        <div class="flex-initial w-44 grid border h-24 mb-4 ml-auto content-center rounded-lg">
          <p
            *ngIf="!imagePath.value"
            class="text-3xl text-center p-8"
          >
            Preview
          </p>
          <img
            *ngIf="imagePath.value"
            [src]="imagePath.value"
            class="rounded-lg content-center"
          >
        </div>
      </div>
    </div>
    <hr>
    <div formArrayName="ingredients" class="flex-1">
      <div class="flex">
        <h2 class="text-4xl mt-4 mb-4 mr-4">Ingredients</h2>
        <button
          (click)="addIngredient()"
          class="btn-green mt-4 ml-auto">
            Add
        </button>
      </div>
      <div
        class="flex flex-row mt-4"
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="mb-6 mr-6">
          <label for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Name
          </label>
          <input type="text"
            id="name"
            class="input-gray"
            placeholder="Name"
            formControlName="name"
          >
        </div>
        <div class="mb-6">
          <label for="amount"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Amount
          </label>
          <input type="number"
            id="name"
            class="input-gray"
            placeholder="Amount"
            formControlName="amount"
          >
        </div>
        <div class="flex items-end mb-6">
          <button
            (click)="removeIngredient(i)"
            type="button"
            class="btn-red ml-6"
          >
            X
          </button>
        </div>
      </div>
      <hr>
      <div class="flex-row mt-4 mb-8">
        <div class="flex-1">
          <button
            class="btn-blue"
            type="submit"
            (click)="onSubmit()"
            [disabled]="!recipeEditForm.valid"
            [ngClass]="{ 'btn-blue-disabled': !recipeEditForm.valid }"
          >
            Save
          </button>
          <button class="btn-red"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
