/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar-tab-active {
  @apply
    bg-gray-900
    text-white
    px-3
    py-2
    rounded-md
    text-sm
    font-medium;
}

.navbar-tab-inactive {
  @apply
    text-gray-300
    hover:bg-gray-700
    hover:text-white
    px-3
    py-2
    rounded-md
    text-sm
    font-medium;
}

.recipe-entry {
  @apply flex
    border
    rounded
    p-8
    cursor-pointer
}

.recipe-entry:hover {
  color: white;
  @apply bg-gray-900
}

.btn-green {
  @apply mb-4
    text-white
    bg-green-700
    hover:bg-green-800
    focus:ring-4
    focus:ring-green-300
    font-medium
    rounded-lg
    text-sm w-full
    sm:w-auto
    px-5
    py-2.5
    text-center
    dark:bg-green-600
    dark:hover:bg-green-700
    dark:focus:ring-green-800;
}

.btn-blue {
  @apply
   mr-4
   text-white
   bg-blue-700
   hover:bg-blue-800
   focus:ring-4
   focus:outline-none
   focus:ring-blue-300
   font-medium
   rounded-lg
   text-sm
   w-full
   sm:w-auto
   px-5
   py-2.5
   text-center
   dark:bg-blue-600
   dark:hover:bg-blue-700
   dark:focus:ring-blue-800;
}

.btn-blue-disabled {
  @apply
   mr-4
   text-white
   bg-blue-300
   hover:bg-blue-300
   focus:ring-4
   focus:outline-none
   focus:ring-blue-300
   font-medium
   rounded-lg
   text-sm
   w-full
   sm:w-auto
   px-5
   py-2.5
   text-center
   dark:bg-blue-300
   dark:hover:bg-blue-300
   dark:focus:ring-blue-300;
}

.btn-red {
@apply
  mr-4
  text-white
  bg-red-700
  hover:bg-red-800
  focus:ring-4
  focus:outline-none
  focus:ring-red-300
  font-medium
  rounded-lg
  text-sm
  w-full
  sm:w-auto
  px-5
  py-2.5
  text-center
  dark:bg-red-600
  dark:hover:bg-red-700
  dark:focus:ring-red-800;
}

.btn-gray {
@apply
  mr-4
  text-black
  bg-gray-700
  hover:bg-gray-800
  focus:ring-4
  focus:outline-none
  focus:ring-gray-300
  font-medium
  rounded-lg
  text-sm
  w-full
  sm:w-auto
  px-5
  py-2.5
  text-center
  dark:bg-gray-600
  dark:hover:bg-gray-700
  dark:focus:ring-gray-800;
}

.input-gray {
  @apply
  bg-gray-50
  border
  border-gray-300
  text-gray-900
  text-sm
  rounded-lg
  focus:ring-blue-500
  focus:border-blue-500
  block
  w-full
  p-2.5
  dark:bg-gray-700
  dark:border-gray-600
  dark:placeholder-gray-400
  dark:text-white
  dark:focus:ring-blue-500
  dark:focus:border-blue-500;
}

.btn-dropdown-gray {
 @apply
  inline-flex
  w-full
  justify-center
  rounded-md
  border
  border-gray-300
  bg-white
  px-4
  py-2
  text-sm
  font-medium
  text-gray-700
  shadow-sm
  hover:bg-gray-50
  focus:outline-none
  focus:ring-2
  focus:ring-indigo-500
  focus:ring-offset-2
  focus:ring-offset-gray-100;
}

.dropdown-show-items {
  @apply
    absolute
    right-0
    z-10
    mt-2
    w-48
    origin-top-right
    rounded-md
    bg-white
    py-1
    shadow-lg
    ring-1
    ring-black
    ring-opacity-5
    transition
    ease-in
    duration-100
    transform
    opacity-100
    scale-100
    focus:outline-none;
}

.dropdown-hide-items {
  @apply
    absolute
    right-0
    z-10
    mt-2
    w-48
    origin-top-right
    rounded-md
    bg-white
    py-1
    shadow-lg
    ring-1
    ring-black
    ring-opacity-5
    transition
    ease-out
    duration-75
    transform
    opacity-0
    scale-75
    focus:outline-none;
}
