<div class="flex flex-row mt-2">
  <div class="flex-1">
    <form [formGroup]="shoppingListForm">
      <div class="flex flex-row">
        <div class="mb-6 mr-6">
          <label for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Name
          </label>
          <input type="text"
            id="name"
            class="input-gray"
            placeholder="Name"
            formControlName="name"
          >
        </div>
        <div class="mb-6">
          <label for="amount"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
            Amount
          </label>
          <input type="number"
            id="name"
            class="input-gray"
            placeholder="Amount"
            formControlName="amount"
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="flex-row mt-2 mb-8">
        <div class="flex-1">
          <button class="btn-submit btn-blue"
            (click)="onSubmit()"
            type="submit"
            [disabled]="!shoppingListForm.valid"
            [ngClass]="{ 'btn-blue-disabled': !shoppingListForm.valid }"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button class="btn-gray"
            (click)="onClear()"
          >
            Clear
          </button>
          <button
            class="btn-red"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
